body{
  margin : 0;
  text-align: center;
}
.d1{
    height: 50px;

    background-color:      #99f3bd;

}

.d2{
  position : relative;
  height: 500px;
  width: 100%;
  background-color: #d2f6c5;


  }

.d3{
  position: absolute;
  top: 150px;
  left: 20%;
  transition: transform .2s;


}

.d3:hover{
  transform: scale(1.5);
}
